* 
    font-family: 'MuseoModerno', sans-serif
    box-sizing: border-box
    padding: 0
    margin: 0

.container
    max-width: 942px
    margin: 0 auto

@import 'variables'
@import 'mixins'
@import 'forms'
@import 'sections/main'
@import 'sections/advantages'
@import 'sections/consultation'
@import 'sections/carousel'
@import 'sections/catalog'
@import 'sections/reviews'
@import 'sections/footer'
@import 'sections/overlay'
@import 'modals'
@import 'pageup'