.carousel
    padding: 81px 0

.splide
    margin: 0 auto
    &__arrow
        background-color: rgba(38, 87, 122, 0)
        &--prev
            margin-left: -100px
        &--next
            margin-right: -100px